.composition {
  margin-top: 155px;
}

.position{
  margin-top: 45px;
}

.list{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
}

.ingredient{
  display: flex;
}


.ingredient__name {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 13px;
}

.ingredient__pic {
  height: 150px;
  width: 150px;
  margin-right: 40px;
  margin-bottom: 20px;
}
@media (max-width:1600px) and (min-width:1280px) {
  .ingredient__name {
    font-size: 20px;
    margin-bottom: 7px;
  }
  .composition {
    margin-top: 46px;
  }
  .position{
    margin-top: 43px;
  }
}

@media (max-width:1280px) and (min-width:1062px) {
  .ingredient__name {
    font-size: 20px;
  }
  .composition {
    margin-top: 45px;
  }
  .position{
    margin-top: 40px;
  }
}

@media (max-width:1062px) and (min-width:768px) {
  .composition{
    margin-top: 37px;
  }
   .position{
    margin-top: 40px;
   }
  .ingredient__name {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .ingredient__pic{
    max-width: 120px;
    max-height: 120px;
    margin-right: 7px;
  }
  .list{
    column-gap: 40px;
  }
.ingredient{
  margin-bottom: 10px;
}
}
@media (max-width:768px) and (min-width:375px) {
  .ingredient__name {
    font-size: 18px;
  }
  .ingredient__pic {
    height: 120px;
    max-width: 120px;
    margin-right: 13px;
  }
  .list{
    column-gap: 37px;
    grid-template-columns: 1fr;
  }
  
.position{
  margin-top: 40px;
}
.ingredient{
  margin-bottom: 11px;
}
.composition {
margin-top: 0px;
}
}
@media (max-width:375px) and (min-width:0px) {
  .ingredient__name {
    font-size: 16px;
  }
  .composition{
    margin-top: 30px;
  }
  .ingredient__pic {
    height: 100px;
    max-width: 100px;
    margin-right: 13px;
  }
  .list{
    column-gap: 60px;
    grid-template-columns: 1fr;
  }
  .ingredient{
    margin-top: 30px;
  }
  
  .position{
    margin-top: 40px;
  }
}