html {
  font-family: "Onest", serif;
  box-sizing: border-box;
  background-color: white;
}

.container {
  max-width: 1600px;
  margin: auto;
  margin-top: 95px;
}

.title {
  text-align: center;
  font-size: 72px;
}

.button {
  height: 60px;
  font-size: 24px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  padding: 0 20px;
}

.description {
  font-size: 20px;
  font-weight: 200;
}

@media (max-width:1600px) and (min-width:1280px) {
  .container {
    max-width: 1100px;
    margin-top: 80px;
  }

  .title {
    font-size: 48px;
  }

  .description {
    font-size: 16px;
  }

  .button {
    font-size: 20px;
  }
}

@media (max-width:1280px) and (min-width:1062px) {
  .container {
    max-width: 1100px;
    margin: auto;
  }

  .title {
    font-size: 48px;
  }

  .description {
    font-size: 16px;
  }

  .button {
    font-size: 20px;
  }
}


@media (max-width:1062px) and (min-width:768px) {
  .container {
    margin: 60px 40px;
  }

  .title {
    font-size: 40px;
  }

  .description {
    font-size: 15px;
  }

  .button {
    font-size: 20px;
  }
}

@media (max-width:767px) and (min-width:375px) {
  .container {
    margin: 60px 40px;
  }

  .title {
    font-size: 40px;
  }

  .description {
    font-size: 15px;
  }

  .button {
    font-size: 20px;
    width: auto;
  }
}

@media (max-width:374px) and (min-width:0px) {
  .container {
    margin: 65px 20px;
  }

  .title {
    font-size: 28px;
  }

  .description {
    font-size: 14px;
  }

  .button {
    font-size: 20px;
    width: auto;
  }
}